{% extends "main.html" %}
{% block body %}


    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">исследуй <strong>  <a href="{{ vk_login_url }}" target="_blank">свою страничку вконтакте</a> </strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left"  src="{{ url_for('static', filename='img/slide-2-.jpg')}}" alt="">
                </div>
                <div class="col-md-6">
                    <p>Анализ страницы позволяет выявить насколько хорошо социальная сеть защищает твои персональные данные</p>
                    <p>Ты ведь слышал пословицу "Скажи мне кто твой друг и я скажу кто ты?" Анализатор работает точно так же.</p>
                    <p>Он анализируе твоих друзей и основоваясь на информации о них строит предположение о тебе</p>
                    <p> <strong><a href="{{ vk_login_url }}" target="_blank">Начать прямо сейчас!</a> </strong></p>





                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">примеры <strong>анализа</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/screenshot-1.png')}}" alt="">
                    <h3>Иванов Иван
                        <small></small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/screenshot-2.png')}}" alt="">
                    <h3>Петров Семен
                        <small></small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="{{ url_for('static', filename='img/screenshot-3.png')}}" alt="">
                    <h3>Сидоров Исидор
                        <small></small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->



{% endblock body %}

