<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}


<h1>Авторизация</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        Введите свой логин для Вконтакте:<br>
        {{ form.openid(size=80) }}
        {% for error in form.errors.openid %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %} <br>

    </p>
    <p>{{form.remember_me}} помнить меня</p>
    <p><input type="submit" value="Авторизация"></p>
</form>
{% endblock %}